%relative {
    position: relative;
}
.alignXY {
    @extend %relative ;
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
	transform: translate(-50%, -50%);
}
.alignY {
    @extend %relative ;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
}
.alignX {
    @extend %relative ;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
}